:root {
    --color-one: rgba(109, 83, 166, 1);
    --color-two: #4BA69D;
    --color-three: #F2CB9B;
    --color-four: #F24949;
    --color-five: #F2D8D8;
    --color-black: #000000;
    --color-while: #ffffff;
    --color-grey: #999;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}


/* Index */

.header {
    /* color: var(--color-while); */
    padding: 1%;
}

.header h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.header h2 a {
    text-decoration: none;
}

.titulo-principal {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.card {
    min-height: 450px;
    padding: 1%;
    margin-bottom: 5%;
}

.card-body {
    margin-top: 2%;
}

.card-title {
    color: var(--color-one);
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}