.content-wrapper {
    font-size: 10pt;
}

.main-sidebar {
    font-size: 10pt;
}

footer {
    font-size: 0.8em;
}

label.requerido:after {
    content: ' *';
    color: red;
}

.card {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.btn-accion-tabla {
    cursor: pointer;
    border: none;
    background: 0;
    padding: 0 0 0 5px;
    font-size: 14px !important;
    line-height: 1.5;
}

.d-inline {
    display: inline;
}

.width70 {
    width: 150px !important;
}

.width40 {
    width: 70px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.box-header {
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0;
}

.img-circle {
    background-color: white;
    padding: 5px;
    min-width: 40px;
    min-height: 40px;
}

.btn-sombra {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
